.input-field{
    position: center;
    bottom: 450px;
    width: 100%;
    padding: 5px 0;
    background: rgba(137, 21, 2, 0.71);
    color: rgb(148, 148, 148);
    height: 300px;
    -webkit-tap-highlight-color: transparent;

}

.keyboard-input{

    box-shadow: 0 0 50px rgba(0, 145, 126, 0.5);
    border-radius: 4px;
    width: 600px;
    height: 50px;
    margin: 50px 0 0 0;
    background: rgba(148, 148, 148, 0.71);
    -webkit-tap-highlight-color: transparent;

}

.keyboard__key,
.keyboard__key_btn{
    text-align: center;
    height: 60px;
    max-width: 85px;
    min-width: 85px;
    margin: 3px -20px 0 26px;
    border-radius: 4px;
    border: none;
    background: rgb(149, 37, 39);
    color: rgb(148, 148, 148);
    font-size: 1.06rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    bottom: -110px;
}

.keyboard{
    position: center;
    align-items: center;
    text-align: center;
    bottom: 500px;
}

.input-field{
    position: center;
    align-items: center;
    text-align: center;
}

.keyboard__key:active,
.keyboard__key_btn:active{
    background: rgb(169, 46, 0);
    color: #000000;
}

#space{
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    position: center;
    align-items: center;
    text-align: center;
}

#tab{
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    position: center;
    align-items: center;
    text-align: center;
}

#caps-lock{
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    position: center;
    align-items: center;
    text-align: center;
}

#enter{
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    position: center;
    align-items: center;
    text-align: center;
}

#leftShift,
#rightShift{
    width: 228px;
    max-width: 228px;
    min-width: 228px;
    position: center;
    align-items: center;
    text-align: center;
}

#backspace{
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    position: center;
    align-items: center;
    text-align: center;
}

#backslash{
    width: 115px;
    max-width: 115px;
    min-width: 115px;
    position: center;
    align-items: center;
    text-align: center;
}
