.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(145, 44, 1, 0.77);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    height: 400px;
    transition: bottom 0.4s;
}





.keyboard__key,
.keyboard__key_btn{
    height: 55px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(137, 43, 0, 0.71);
    color: rgb(148, 148, 148);
    font-size: 1.06rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    left: 230px;
    bottom: -50px;
}


.keyboard__key:active,
.keyboard__key_btn:active{
    background: rgb(169, 46, 0);
    color: #000000;
}

#space{
    width: 40%;
    max-width: 800px;
    left: 1.7%;
}

#tab{
    width: 10.5%;
    max-width: 500px;
}

#caps-lock{
    width: 8%;
    max-width: 500px;
}

#enter{
    width: 7.5%;
    max-width: 500px;
}

#leftShift,
#rightShift{
    width: 10.5%;
    max-width: 500px;
}